body{
    background-color: black;
}
h1{
    color: white;
    text-align: center;
}
#section1{

}
#img1{
    width: 24%;
    height: 100px;
}
#img2{
    width: 24%;
    height: 100px;
}
#img3{
    width: 24%;
    height: 100px;
}
#img4{
    width: 24%;
    height: 100px;
}

div{
    background-color: #1fbf9f;
    width: 24%;
    height: 250px;
    float: left;
    border:1px solid black;
    
}
div h2{
    text-align: center;
}